body {
    background-color: #202020;
    margin:0;
    padding:0;
    height:100%;
}

div {
    outline: 1px solid;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p {
    color: lightgrey;
    margin-left: 120px;
    margin-top: 120px;
}
#con {
    min-height:100%;
    position:relative;
}
#content {
    height: 1000px; /* Changed this height */
    padding-bottom:60px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    color: darkgrey;
}
