<table>
<tr>
<td>
<h1>_local <br> weather_</h1>
<br> see weather in curr loc.
    <br> see icon or bg img dep on wthr.
<br> togg btn F <-> C.
</td>
<td>
<div id=sketch-holder>
</div>
</td>

<td>
libraries used:
<br>
<br>
<a href=https://p5js.org/>p5.js</a>
</td>

</tr>
</table>
