 html, body {
  font-family: system-ui;
  background: #222222;
  color: white;
  text-align: left;
height: 100%;

margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
width: 100%;
border: 1px solid #292929;
background-color:#242424;
align: left;
}

td{
border: 10px solid #220000;
} 
