<pre><font color="#5F5F87">#include</font> <font color="#870087">&lt;stdio.h&gt;</font>
<font color="#5F5F87">#include</font> <font color="#870087">&lt;iostream&gt;</font>
<font color="#0087FF">using</font> <font color="#0087FF">namespace</font> <font color="#008787">std</font>;

<font color="#875F00">int</font> <font color="#005FFF">main</font>(<font color="#875F00">void</font>){

  <font color="#875F00">unsigned</font> <font color="#875F00">int</font> <font color="#AF5F00">data_to_sort</font>[] = {
    0xBAD10002,
    0xCAD20002,
    0xBAC30002,
    0x00000002,
    0xBAD10001,
    0xFFFF0002,
    0xBAD10003,
    0x00000002,
    0x00000001,
    0xBBD20005
  };


 <font color="#875F00">unsigned</font> <font color="#875F00">int</font> <font color="#AF5F00">truncated_array</font>[10] = { 0,0,0,0,0,0,0,0,0,0 } ;

 <font color="#008700">//truncate data_to_sort array </font>                                                                                                                                                                                                                                                                                                                                       
 <font color="#875F00">unsigned</font> <font color="#875F00">int</font> <font color="#AF5F00">i</font>=0 ;
 <font color="#875F00">unsigned</font> <font color="#875F00">int</font> <font color="#AF5F00">num_shifts</font> = 16 ;  <font color="#008700">// 0xAA = 1 0 1 0   1 0 1 0   1 0 1 0    1 0 1 0     </font>                                                                                                                                                                                                                                                                                
 <font color="#875F00">unsigned</font> <font color="#875F00">int</font> <font color="#AF5F00">count_of_bad_ones</font> = 0;
 <font color="#875F00">unsigned</font> <font color="#875F00">int</font> <font color="#AF5F00">bad_one_ui</font> = 47825; <font color="#008700">// ok I know, this is bad, IRL, I&apos;d do the typecasting </font>                                                                                                                                                                                                                                                                             

 <font color="#0087FF">while</font>( i &lt;= 10 ) {
   truncated_array[i] = data_to_sort[i] &gt;&gt; num_shifts ;
   cout &lt;&lt; <font color="#870087">&quot;the truncated array item is: &quot;</font> &lt;&lt; truncated_array[i] &lt;&lt; <font color="#870087">&quot; ___ original item is: &quot;</font> &lt;&lt; data_to_sort[i] &lt;&lt; endl;
       <font color="#008700">//count bad1s </font>                                                                                                                                                                                                                                                                                                                                                 
       <font color="#0087FF">if</font>(  truncated_array[i] == bad_one_ui  ){
         count_of_bad_ones++;
       }
       i++;
 }
 <font color="#008700">// print results </font>                                                                                                                                                                                                                                                                                                                                                    
 cout &lt;&lt; <font color="#870087">&quot;==============================&quot;</font> &lt;&lt; endl;
 cout &lt;&lt; <font color="#870087">&quot; total of &quot;</font> &lt;&lt;  count_of_bad_ones  &lt;&lt; <font color="#870087">&quot; found in data_to_sort&quot;</font> &lt;&lt; endl;
 cout &lt;&lt; <font color="#870087">&quot;==============================&quot;</font> &lt;&lt; endl;
 cout &lt;&lt; <font color="#870087">&quot; program complete &quot;</font> &lt;&lt; endl;
 <font color="#0087FF">return</font> 0;

}
</pre>
